body{
margin:0;
width:100%;
background: #f0f5f5;
}


.homeNav{
  background:rgba(230, 255, 255, 0.8);
  padding-left:20px;
  padding-top: 10px;
  /* text-align: right; */
  width:100%;
  position:fixed;
  z-index:2;
  display: inline-block;
  /* margin-right: 20px; */
  /* font-family: 'EB Garamond', serif; */
}

.homeNav a{
  text-decoration: none;
  color: red;
  margin-right: 30px;
  font-size: 22px;
  /* font-weight: bold; */
  font-family: 'EB Garamond', serif;
  float:right;
  /* text-decoration: underline; */
}

.logo{
  /* border: 2px solid black; */
  /* margin: 20px; */
  /* background-color: yellow; */
  color: red;
  /* padding-bottom: 2 */
  display: inline-block;
  margin-right: ;

}

.logo p{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-decoration: overline;
}

.image{
  /* max-width:1600px; */
  /* border: 6px solid black; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background:#f2f2f2;
}

h1{
  margin: 0;
  font-family: 'Exo 2', sans-serif;

}

.mainPic{
  width: 100%;
}

.text2{
  position:absolute;
  text-align: center;
  font-size:100px;
  color: yellow;
  letter-spacing:-1px;
  line-height: 1em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  position:absolute;
  font-size: 50px;
  text-align: center;
  color: yellow;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info{
  max-width:1600px;
  /* border: 6px solid black; */
  margin-left: auto;
  margin-right: auto;
  background:white;
  /* background: #f0f5f5; */
  overflow: auto;

}

.container{
  max-width:70%;
    /* border: 2px solid grey; */
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    overflow: auto;

}

#hd1{
  text-align:center;
  margin-bottom: 50px;
  margin-top:0;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  text-decoration: underline;
}

.info1{
  max-width: 295px;
  /* display: inline-block; */
  float: left;
  border: 1px solid grey;
  transition: 3s;
  margin-left: 1.5%;
  background: white;
  font-size: 25px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  box-shadow: 5px 10px #888888;
  margin-bottom: 20px;

}
.info3{
max-width: 295px;
/* display: inline-block; */
float: left;
border: 1px solid grey;
transition: 3s;
margin-left: 1.5%;
background: white;
font-size: 25px;
text-align: center;
font-family: 'Exo 2', sans-serif;
box-shadow: 5px 10px #888888;
margin-bottom: 20px;
}

.info5{
max-width: 295px;
/* display: inline-block; */
float: left;
border: 1px solid grey;
transition: 3s;
margin-left: 1.5%;
background: white;
font-size: 25px;
text-align: center;
font-family: 'Exo 2', sans-serif;
box-shadow: 5px 10px #888888;
margin-bottom: 20px;
}
.infoPic{
  max-width: 100%;
  height: 250px;
}

.info2{
  display: none;
}
.info4{
  display: none;
}
.info6{
  display: none;
}




.about{
  max-width:1600px;
  /* border: 6px solid black; */
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-image:
    /* linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)), */
    url('https://d1ljaggyrdca1l.cloudfront.net/wp-content/uploads/2017/05/himilayas-4-1600x900.jpg');
  background-size:cover;
  background-attachment:fixed;
}

.about-text{
    max-width: 500px;
    /* border: 6px solid black; */
    margin-left: 25%;
    margin-top:0;
    padding: 20px;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    color:white;
}
.contact{
  max-width:1600px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background: white;
  /* border: 2px solid black; */

}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







.contact-text{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    font-family: 'Exo 2', sans-serif;

}

.form{
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
  /* height:300px; */
  /* border: 2px solid black; */
  overflow: auto;
  padding: 10px;
}

.form-input{
  margin:2px;
  margin-left: 20%;
}

button{
  background-color:#ADD8E6;
    border: none;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin-left: 68%;
}



.main_globe{
  padding: 20px;
  text-align: center;
  background-color:white;
}

.main_globe a{
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: 'Lora', serif;
}

.footer{
  max-width:1600px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow: auto;
  background: rgb(230, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;

}


@media screen and (max-width: 600px) {

  .homeNav{

  }

    div.example {
    font-size: 8px;
  }

  .text2{
    font-size: 25px;
  }
  .text{
    font-size: 20px;
  }

  .info5{
    max-width: 400px;
  }

    .info3{
      max-width: 400px;
    }

    .info1{
      max-width: 400px;
    }
}
